//===================================//обнуление

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li,
ol {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-style: inherit;
}

html,
body {
    height: 100%;
    font-size: 14px;
    font-weight: 300;
    color: #9c9c9c;
    background-color: #0D0D11;
    font-family: 'Poppins';

}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip;
}

main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 600px) {
        padding: 0 10px;
    }
}

.button {
    background: #3D96F4;
    border-radius: 50px;
    padding: 16px 30px;
    color: #FFFFFF;
    letter-spacing: 1.8px;
}

.title {
    font-weight: 500;
    font-size: 51.2px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.text {
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #9C9C9C;
}

.label {
    display: inline-block;
    border: 1px solid rgba(129, 129, 139, 0.2);
    border-radius: 12px;
    padding: 11px 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 10.8px;
    line-height: 17px;
    color: #9C9C9C;
    margin-bottom: 19px;
}

//===================================//
.header {
    padding: 10px 0;
    // .header__container

    &__container {
        display: flex;
        column-gap: 36px;
        row-gap: 10px;
        align-items: center;
        justify-content: center;
        min-height: 116px;

        @media (max-width: 500px) {
            column-gap: 15px;

        }

        @media (max-width: 380px) {
            column-gap: 4px;

        }

    }

    // .header__logo

    &__logo {
        align-self: center;
        position: relative;
        z-index: 11;

        @media (max-width: 580px) {
            max-width: 40px;
            overflow: hidden;


        }
    }

    // .header__menu

    &__menu {
        flex: 1 1 auto;

    }

    // .header__item

    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 36px;
        row-gap: 5px;
        flex-wrap: wrap;

        @media (max-width: 800px) {
            justify-content: center;
            padding-top: 50px;
            display: none;
        }

    }

    &__item.active {
        @media (max-width: 800px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 0;
            left: 0;
            transition: all ease 0.7s;
            width: 100%;
            height: 100%;
            background-color: #0D0D11;
            z-index: 2;
        }

        @media (max-width: 500px) {
            justify-content: center;
            column-gap: 5px;

        }
    }


    // .header__link

    &__link {

        font-size: 16px;
        line-height: 160%;
        color: #FFFFFF;

        @media (max-width: 800px) {
            font-size: 38px;

        }
    }

    // .header__cart

    &__cart {
        display: flex;
        font-size: 17.6px;
        line-height: 160%;
        color: #FFFFFF;
        display: flex;
        column-gap: 5px;
        position: relative;
        z-index: 11;

        @media (max-width: 800px) {
            background: url('../img/header/cart.svg') 0px 0px no-repeat;
            flex: 0 1 60px;
            height: 60px;
            column-gap: 0px;
        }
    }

    // .header__text

    &__text {
        @media (max-width: 800px) {
            display: none;
            position: relative;
            z-index: 11;

        }
    }

    // .header__count

    &__count {
        height: 30px;
        width: 30px;
        left: 61.05%;
        right: 0%;
        top: calc(50% - 30px/2);
        background: rgba(129, 129, 139, 0.3);
        border-radius: 29.9375px;
        text-align: center;

        @media (max-width: 800px) {
            position: absolute;
            top: 16px;
            left: 15px;
            width: 30px;
            height: 30px;
        }

    }

    // .header__button

    &__button {
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 2px;
        color: #FFFFFF;
        display: flex;
        position: relative;
        z-index: 11;
    }

}


.hamburger-icon {
    display: none;
    position: relative;
    z-index: 11;

    @media (max-width: 800px) {
        display: flex;
    }

    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;

    .stroke {
        width: 30px;
        height: 2px;
        background-color: white;
        position: absolute;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;

        &:first-child {
            top: 23%;
            transform: translateY(0%);

        }

        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
            opacity: 1;
        }

        &:last-child {
            top: 100%;
            transform: translateY(-2.1875rem);
        }

        &.active {
            top: 50%;

            &:first-child {
                transform: translateY(-50%) rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:last-child {
                transform: translateY(-50%) rotate(135deg);
            }
        }
    }
}

//=================main==================//


.main {
    padding-bottom: 90px;

    // .main__container

    &__container {
        display: flex;
        column-gap: 86px;
        row-gap: 30px;

        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    // .main__contant

    &__contant {
        flex: 0 1 50%;
        max-width: 624px;
        padding-top: 121px;

        @media (max-width: 1024px) {
            padding-top: 80px;
            max-width: 624px;
        }

        @media (max-width: 1024px) {
            padding-top: 50px;
            max-width: 624px;
        }
    }

    &__title {
        position: relative;
        max-width: 510px;
    }

    &__title::before {
        position: absolute;
        content: "";
        display: block;
        left: -30px;
        top: 0px;
        width: 122px;
        height: 122px;
        background: url('../img/main/decor.png') 0 0 no-repeat;

    }

    // .main__text

    &__text {
        padding: 30px 0;
        max-width: 495px;
    }

    // .main__buttons

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        column-gap: 32px;
        max-width: 505px;
        row-gap: 15px;
    }

    // .main__button

    &__button {
        padding: 16px 31px;
    }

    // .main__images

    &__images {
        flex: 0 1 50%;
    }
}

.button {
    @media (max-width: 380px) {
        width: 100%;
    }

    // .button_dark

    &_dark {
        background: rgba(129, 129, 139, 0.2);
        border-radius: 50px;
        letter-spacing: 2.5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        text-align: center;
        color: #FFFFFF;
        padding: 16px 33px;



    }
}

.images-main {
    display: flex;
    column-gap: 9%;
    // .images-main__row

    &__row {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
}

.row-images {
    .row-images__image img {
        width: 100%;
    }

    // .row-images__image

    &__image_one img {
        border-radius: 378px;
    }

    &__image_two img {
        border-radius: 50% 50% 0px 50%;

    }




    // .row-images__image

    &__image_three img {
        border-radius: 50% 0px 50% 50%;
    }

    &__image_four img {

        border-radius: 378px;
    }


}

//===================================//
.page {

    // .page__partners

    &__partners {
        padding-top: 90px;
        padding-bottom: 80px;
    }
}

.partners {

    // .partners__container

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .partners__title

    &__title {
        font-size: 14px;
        line-height: 160%;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-bottom: 24px;
    }

    // .partners__items

    &__items {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 15px;
        align-items: center;
        justify-content: center;
    }

    // .partners__item


}

//===================================//
.page {

    // .page__services

    &__services {
        padding-top: 80px;
        padding-bottom: 96px;
    }
}

.services {

    // .services__container

    &__container {
        display: flex;

        @media (max-width:1150px) {
            flex-direction: column;
        }
    }

    // .services__contant

    &__contant {
        margin-right: 125px;

        @media (max-width:1200px) {
            margin-right: 95px;
        }

        @media (max-width:1150px) {
            margin-right: 0px;

        }
    }

    // .services__label

    &__label {}

    // .services__title

    &__title {
        max-width: 433px;

        @media (max-width:1150px) {

            max-width: none;
        }
    }

    // .services__text

    &__text {}

    // .services__button

    &__button {}

    // .services__items

    &__items {
        display: flex;
        column-gap: 32px;

        @media (max-width:1150px) {
            padding-top: 30px;
        }

        @media (max-width:800px) {
            flex-wrap: wrap;
        }

    }

    // .services__column

    &__column {
        display: flex;
        row-gap: 32px;
        flex-direction: column;
        flex-wrap: wrap;

    }

    &__column:nth-last-of-type(2) {
        padding-top: 30px;

        @media (max-width:1150px) {
            padding-top: 0;
        }
    }

    // .services__item

    &__item {
        background: rgba(129, 129, 139, 0.1);
        border-radius: 30px;
        padding: 55px 25px 61px 25px;

    }
}

.title {
    font-weight: 500;
    font-size: 51.2px;
    line-height: 120%;
}

.text {}

.button {}

.item-service {

    // .item-service__icon

    &__icon {}

    // .item-service__title

    &__title {
        font-weight: 400;
        font-size: 19.2px;
        line-height: 27px;
        color: #FFFFFF;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    // .item-service__text

    &__text {
        font-size: 16px;
        line-height: 150%;
        display: flex;
        align-items: center;
        color: #81818B;
    }
}

//===================================//
.page {

    // .page__maeketing

    &__maeketing {
        padding: 97px 0;

    }
}

.marketting {

    // .marketting__container

    &__container {
        display: flex;
        column-gap: 64px;
        row-gap: 30px;
        align-items: center;

        @media (max-width:1050px) {
            flex-direction: column-reverse;
        }
    }

    // .marketting__images

    &__images {
        display: flex;
        align-items: flex-end;

    }

    &__images img {
        width: 100%;
    }

    // .marketting__content

    &__content {}

    // .marketting__label

    &__label {}

    // .marketting__title

    &__title {
        max-width: 560px;
    }

    // .marketting__text

    &__text {
        max-width: 490px;
    }

    // .marketting__list

    &__list {}
}

.images-marketting {

    // .images-marketting__item

    &__item {
        overflow: hidden;
        // .images-marketting__item_big

        &_big {
            border-radius: 97% 0 49% 49% /49% 0% 44% 44%;
        }

        &_mini {
            border-radius: 181.438px 181.438px 181.438px 0px;
        }
    }
}


.text {
    padding-top: 40px;
    padding-bottom: 35px;
}

.marketing {

    // .marketing__item

    &__item {
        font-size: 16px;
        line-height: 150%;
        display: flex;
        align-items: center;
        color: #9C9C9C;
    }

    &__item:before {
        content: "";
        width: 32px;
        height: 32px;
        background: url('../img/marketing/arrow.svg') center no-repeat;
    }
}

//===================================//
.page {

    // .page__advantages

    &__advantages {}
}

.advantages {
    padding-top: 46px;
    padding-bottom: 92px;
    // .advantages__container

    &__container {
        display: flex;
        gap: 32px;
        align-items: center;
        justify-content: center;

        @media (max-width:1050px) {
            flex-direction: column;
        }
    }

    // .advantages__contant

    &__contant {
        flex: 0 1 61%;
    }

    // .advantages__items

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 32px;

        @media (max-width:1050px) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
    }

    // .advantages__item

    &__item {
        background: rgba(129, 129, 139, 0.1);
        border-radius: 30px;
        padding: 40px;
    }

    // .advantages__image

    &__image img {
        border-radius: 0 67% 60% 60% / 0 68% 50% 50%;
        width: 100%;
    }

    &__image {
        flex: 0 1 39%;
        overflow: hidden;
    }
}

.item-advantages {

    // .item-advantages__value

    &__value {
        font-weight: 500;
        font-size: 51.2px;
        line-height: 120%;
        color: #FFFFFF;
        margin-bottom: 32px;
    }

    // .item-advantages__text

    &__text {}
}




//===================================//
//===================================//
// @media (max-width:1199.98px) {
//     [class*="__container"] {
//         max-width: 970px;
//     }
// }

// @media (max-width:991.98px) {
//     [class*="__container"] {
//         max-width: 750px;
//     }

// }

// @media (max-width:767.98px) {
//     [class*="__container"] {
//         max-width: none;
//     }
// }

//===================================//
//===================================//
//===================================//
//===================================//
//===================================//
//===================================//
//===================================//